<% include partitials/header.ejs%>


	<h1>ADS</h1>
	<a href="/admin/articleedit">Artikel anlegen</a>
	<div class="duration"><%= articleSet.duration %></div>
	<p><b>article Id</b>     <%= articleSet.articleId %></p>
	<p><b>article Name</b>   <%= articleSet.articleName %></p>
	<p><b>start Price </b>   <%= articleSet.startPrice %></p>
	<p><b>bid Interval </b>  <%= articleSet.bidInterval %></p>
	<p><b>image Path </b>    <%= articleSet.imagePath %></p>
	<p><b>current Price </b>    <%= articleSet.currentPrice %></p>
	<p>--------------</p>

	<p id="bid" type="button">Bieten</p>

<% include partitials/footer.ejs%>