<% include partitials/header.ejs%>

<div style=" background-color: greenyellow;float: left; height: 100%; width: 50%;">
	<h1>ADS</h1>
	<a href="/admin/articleedit">Artikel anlegen</a>
	<div class="duration"><%= articleSet.duration %></div>
	<p><b>article Id</b>     <%= articleSet.articleId %></p>
	<p><b>article Name</b>   <%= articleSet.articleName %></p>
	<p><b>start Price </b>   <%= articleSet.startPrice %></p>
	<p><b>bid Interval </b>  <%= articleSet.bidInterval %></p>
	<p><b>image Path </b>    <%= articleSet.imagePath %></p>
	<div id="currentPrice<%= articleSet.articleId%>"><%= articleSet.currentPrice %></div>
	<p>--------------</p>

	<p id="bid" type="button">Bieten</p>
</div>
<div style="background-color: palevioletred; float: right; height: 100%; width: 50%; overflow: scroll; height: 114px;">
	<table id="bidList<%= articleSet.articleId%>">
		<thead>
			<tr>
				<th>Bieter Nummer</th>
				<th>Bietwert</th>
				<th>Datum</th>
			</tr>
		</thead>
		<tbody>
			<% for (var i in bidList){ %>
			<tr>
				<td><%= bidList[i].bidder %></td>
				<td><%= bidList[i].bidValue %></td>
				<td><%= bidList[i].timestamp %></td>
			</tr>
			<%}%>
		</tbody>
	</table>
</div>
<div style="display: none" id="bidderId"><%= bidderId %></div>
<% include partitials/footer.ejs%>