<% include partitials/header %>
<body>
<h1>AÜS</h1>
<a href="/admin/articleedit">Artikel anlegen</a>

<% for(var index in articles){ %>
<div>
	<p><b>article Id</b>     <%= articles[index].articleId %></p>
	<p><b>article Name</b>   <%= articles[index].articleName %></p>
	<p class="duration">   <%= articles[index].duration %></p>
	<p><b>start Price </b>   <%= articles[index].startPrice %></p>
	<p><b>bid Interval </b>  <%= articles[index].bidInterval %></p>
	<p><b>image Path </b>    <%= articles[index].imagePath %></p>
<div id="currentPrice<%= articles[index].articleId%>"><%= articles[index].currentPrice %></div>

<a href="/article/<%= articles[index].articleId %>">Artikel zeigen</a>
	<p>--------------</p>
</div>
<%}%>

<% include partitials/footer %>