<!doctype html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://localhost:1337');
		socket.on('news', function (data) {
			console.log(data);
			socket.emit('my other event', { 'hello': data.hello });
		});
	</script>
</head>
<body>
<h1>AÜS</h1>
<a href="/admin/articleedit">Artikel anlegen</a>
<% for(var index in articles){ %>
	<p><b>article Id</b>     <%= articles[index].articleId %></p>
	<p><b>article Name</b>   <%= articles[index].articleName %></p>
	<p><b>duration</b>       <%= articles[index].duration %></p>
	<p><b>start Price </b>   <%= articles[index].startPrice %></p>
	<p><b>bid Interval </b>  <%= articles[index].bidInterval %></p>
	<p><b>image Path </b>    <%= articles[index].imagePath %></p>
	<p><b>currentPrice </b>    <%= articles[index].currentPrice %></p>
	<a href="/article/<%= articles[index].articleId %>">Artikel zeigen</a>
	<p>--------------</p>
<%}%>
</body>
</html>